<footer class="text-center my-8 mb-4 py-2">
  <span>&copy; 2023 Leadportale.com GmbH</span>
  <a class="mx-2 hover:text-blue" href="https://leadportale.com/privacy.html">Datenschutz</a>
  <a class="mx-2 hover:text-blue" href="https://leadportale.com/agb.html">AGB</a>
  <a class="mx-2 hover:text-blue" href="https://leadportale.com/imprint.html">Impressum</a>
  <span class="mx-2">0221 / 64 30 34 30</span>
  <span>Gustav-Heinemann-Ufer 56, 50968 Köln-Bayenthal</span>
</footer>