<nav class="xl:container navbar mx-auto px-4">
  <div class="flex">
    <a class="" href="/">
      <img src="./images/logo-leadportale-1.svg" width="120" height="80" alt="leadportale.com brand logo" />
    </a>
    <div class="ms-auto me-4">
      <a class="nav-link text-gray-100text-decoration-none hover:text-underline" href="#features">Funktionen</a>
    </div>
    <div class="mx-4 text-center">
      <a class="nav-link text-gray-100 text-decoration-none hover:text-underline" href="#prices">Preise</a>
    </div>
    <div class="mx-4 text-center">
      <a class="nav-link text-gray-100 text-decoration-none hover:text-underline"
        href="https://app.leadportale.com">&rarr; Login</a>
    </div>
  </div>
</nav>